#totalPriceInput {
	display: inline-block !important;
	width: auto;
}

#productDetailTable thead {
	background: #F9F9F9;
}

#productDetailTable thead>tr:nth-child(2) th {
	vertical-align: top;
}

#productDetailTable th, #productDetailTable  td {
	text-align: center;
}