#order td, #order th {
	text-align: right;
}

#order td {
	border-top: 1px solid black;
	border-right: 1px solid black;
	padding: 5px;
}

#order td:last-child {
	border-left: 1px solid black;
}

#order tr:last-child td {
	border-bottom: 1px solid black;
}

#order table th {
	background: #2978B1;
	color: white;
}

#footerOrder td:first-child {
	background: #D5F1F1;
}

#footerOrder td:nth-child(2) {
	background: #BBD7F0;
}