#order td, #order th {
	text-align: right;
}

#order td {
	border-top: 1px solid black;
	border-right: 1px solid black;
	padding: 5px;
}

#order td:last-child {
	border-left: 1px solid black;
}

#order tr:last-child td {
	border-bottom: 1px solid black;
}

