body {
	background: #b92b27; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1565C0, #b92b27);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

#cus-login-contianer {
	width: 500px;
	margin: 0 auto;
	margin-top: 200px;
	padding: 30px;
	background: rgba(0,0,0,0.2);
}

#cus-submit-td {
	padding-top: 20px;
}

#cus-login-btn {
	width: 100px;
}

.cus-user-icon {
	font-size: 50px;
}

table{
	width: 100%;
}

td {
	padding-top: 10px;
}

td, th {
	text-align: center;
	color: white;
}

#lang-table {
	width: 100%;
}

#lang-table td {
	text-align: center;
}

img {
	width: 60px;
	height: 30px;
}