* {
	direction: rtl;
	text-align: right;
}

#section-right table  td:nth-child(3) {
	text-align: left;
	padding: 10px;
}

#section-right table  td:nth-child(2) {
	text-align: right;
	padding: 10px;
}

#accordionSidebar a {
	direction: rtl;
}

#navbar-div {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	width: 240px;
	z-index: 1000;
	bottom: 0px;
	overflow: visible;
	overflow-y: auto;
}

#content-wrapper {
	margin-right: 230px;
	margin-left: 0px;
}

#content-wrapper.toggled {
	margin-right: 120px;
	margin-left: 0px;
}